h1 {
	position: relative;
	color: white;
	font-size: 46px;
	bottom: 20px;
	margin: 0;
	padding: 0;
	max-width: 5px;
}

ul {
	margin: 10px;
	padding: 10px;
}

li {
	list-style: none;
	color: #389ba6;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
	text-align: center;
	display: block;
	margin-left: 15px;
	color: #ff9a9e;
}

.weather-app {
	background-image: linear-gradient(
		to top,
		#d96459 0%,
		#fecfef 99%,
		#fecfef 100%
	);
	max-width: 600px;
	display: block;
	margin: 20 auto;
	padding: 20px;
	border: 1px solid white;
	border-radius: 20px;
}

.current-city {
	position: relative;
	left: 20px;
	top: 0.9px;
	padding: 10px 14px;
	background: #389ba6;
	color: white;
	opacity: 0.8;
	border: 1px solid #389ba6;
	color: white;
}
.current-city:hover {
	background: #ff9a9e;
	color: white;
	opacity: 0.8;
	border: 1px solid #ff9a9e;
}

.temperature {
	position: relative;
	font-size: 64px;
	color: white;
	font-weight: 400;
	line-height: 1;
	left: 28px;
	bottom: 15px;
}

.active {
	text-decoration: none;
	cursor: default;
}

.weather-temp small {
	color: #389ba6;
	position: relative;
	font-size: 16px;
	top: -50px;
	left: 34px;
}

.main-content {
	text-align: center;
	padding: 30px 10px 10px;
}

.search {
	background-color: #389ba6;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	padding: 10px 14px;
	margin-left: -15px;
	text-align: center;
	color: white;
	border: 1px solid #389ba6;
}

.search:active {
	background: #ff9a9e;
	color: white;
	opacity: 0.8;
	border: 1px solid #ff9a9e;
}

.search:hover {
	background: #ff9a9e;
	color: white;
	opacity: 0.8;
	border: 1px solid #ff9a9e;
}

.input-search {
	position: relative;
	border-radius: 5px;
	border: 1px solid white;
	top: 3px;
}

.left-align {
	margin: 0;
	padding: 0;
}

.date {
	position: relative;
	bottom: 15px;
	font-size: 16px;
}

.sunrise {
	position: relative;
	left: 15px;
	bottom: 10px;
}

.main-img {
	display: block;
	margin: 0 auto;
}

.inner-forecast {
	position: relative;
	text-align: center;
	padding: 5px;
	margin-left: 15px;
}

.open-source {
	text-decoration: none;
	color: #389ba6;
}

.open-source:hover {
	color: #ff9a9e;
}

.degrees {
	position: relative;
	top: -8px;
}
#f {
	color: #389ba6;
	font-weight: bold;
}

#description {
	margin: 0;
	text-transform: capitalize;
	font-size: 24px;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#forecast {
	color: fff;
}

#celcius {
	color: #389ba6;
}
