h1 {
	position: relative;
	color: white;
	font-size: 46px;
	bottom: 20px;
	margin: 0;
	padding: 0;
}

.current-city {
	position: relative;
	left: 20px;
	top: 0.9px;
	padding: 10px 14px;
	background: #f3a8b3;
	opacity: 0.8;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

small {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.weather-app {
	background-image: linear-gradient(
		to top,
		#ff9a9e 0%,
		#fecfef 99%,
		#fecfef 100%
	);
	max-width: 600px;
	display: block;
	margin: 20 auto;
	padding: 20px;
	border: 1px solid white;
	border-radius: 20px;
}

.forecast {
	text-align: center;
	padding: 20px;
}

.temperature {
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
}

.weather-temp small {
	position: relative;
	font-size: 16px;
	top: -32px;
}

.main-content {
	text-align: center;
	padding: 30px 10px 10px;
}

.search {
	background-color: #f3a8b3;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	padding: 10px 14px;
	margin-left: -15px;
	text-align: center;
}

.input-search {
	position: relative;
	border-radius: 5px;
	border: none;
	top: 3px;
}

.left-align {
	margin: 0;
	padding: 0;
}

.date {
	position: relative;
	bottom: 20px;
	font-size: 16px;
}

.sunrise {
	position: relative;
	left: 15px;
	bottom: 10px;
}

.main-img {
	display: block;
	margin: 0 auto;
}

.open-source {
	text-decoration: none;
	color: ;
}

#f {
	text-decoration: none;
}

#description {
	margin: 0;
	text-transform: capitalize;
}
